NUXT_PUBLIC_API_BASE_URL=https://tap-tamak-production.up.railway.app/api/v1
NUXT_PUBLIC_WS_URL=http://192.168.50.124:3000
NUXT_PUBLIC_GOOGLE_MAPS_KEY=your_key_here
NUXT_PUBLIC_KASPI_PAYMENT_NUMBER=+7 (777) 779-91-97
NUXT_SSR=true
